@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-wrap: pretty;
    /* border: 1px solid blue; */
}
html{
    font-size: 62%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    background-color: #8eb7f4;
    color: #333;
    padding: 1rem 0rem 0rem 30rem;
}
h1{
    font-family: "Arvo";
    font-size: 50px;
    font-weight: 800;
    color: #09a4e7;
    text-align: center;
    padding: 0rem 0rem 1rem;
}
h4{
    font-size: 25px;
    color: #add9f3d4;
    text-align: center;
    padding-bottom: 1rem;
}
.screensize{
    max-width: 600px;
    margin: 4rem;
}
.dflex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.dflex-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
button{
    font-size: 15px;
    font-weight: 600px;
    background-color: #dededdc7; 
    color: #0b0c0e;            
    border: 2px solid #06427f;
    padding: 0.5rem;
    border-radius: 6px;
    cursor: pointer;
    letter-spacing: 1px;
}
button:hover{
    background-color: #64b3ecd0;
    color: #0f1011;
    border:2px solid rgb(225, 218, 215);
}
.calculationContainer{
    background: linear-gradient(135deg, #03093c, #0968ba);
    border-radius: 2rem;
    padding: 4rem 6rem 2rem 6rem;
}
select{
    background-color: #dededdc7; 
    color: #0b0c0e;            
    border: 2px solid #06427f;
    border-radius: 6px;
    padding: 0.4rem;
    font-size: 16px; 
    margin-bottom: 1rem;
}
input{
    font-size: 16px;
    background-color: #dededdc7; 
    color: #0b0c0e;            
    border: 2px solid #06427f;
    border-radius: 6px;
    padding: 0.6rem;
    margin-bottom: 1rem;
    outline: none;
    box-shadow: 0 0 8px rgba(8, 8, 8, 0.6);
}

.number1Body{
    padding-bottom: 3rem;
}
.number2Body{
    padding-bottom: 3rem;
}
.operatorBody{
    padding-bottom: 3rem; 
}
.calculationContainer{
    text-align: center;
}

/* ::::: RESPONSIVE DESIGN DEVICE SIZES ::::: */
@media (max-width: 576px){
    
}