@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-wrap: pretty;
    /* border: 1px solid red; */
}
html{
    font-size: 62%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    background-color: #8eb7f4;
    color: #333;
    padding-top: 6rem;
}
h1{
    font-family: "Arvo";
    font-size: 50px;
    font-weight: 800;
    color: #09a4e7;
    text-align: center;
    padding: 0rem 0rem 1rem;
}
h4{
    font-size: 25px;
    font-weight: 480;
    color: #add9f3d4;
    text-align: center;
    padding-top: 1rem;
}
.screensize{
    max-width: 550px;
    margin: auto;
}
.dflex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.dflex-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
button{
    font-family: "Arvo";
    font-size: 15px;
    font-weight: 800px;
    background-color: #dededdc7; 
    color: #0b0c0e;            
    border: 2px solid #06427f;
    padding: 0.5rem;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(8, 8, 8, 0.6);
}
button:hover{
    background-color: #64b3ecd0;
    color: #0f1011;
    border:2px solid rgb(225, 218, 215);
}
.calculationContainer{
    background: linear-gradient(135deg, #03093c, #0968ba);
    border-radius: 2rem;
    padding: 4rem 6rem 4rem 6rem;
    text-align: center;
    box-shadow: 0 0 15px rgba(8, 8, 8, 0.6);
}
select{
    background-color: #dededdc7; 
    color: #0b0c0e;            
    border: 2px solid #020202;
    border-radius: 6px;
    padding: 0.5rem;
    font-size: 16px; 
    margin-bottom: 1rem;
    box-shadow: 0 0 8px rgba(101, 147, 204, 0.6);
}
input{
    font-size: 16px;
    background-color: #dededdc7; 
    color: #0b0c0e;            
    border: 2px solid #06427f;
    border-radius: 6px;
    padding: 0.6rem;
    margin-bottom: 1rem;
    outline: none;
    box-shadow: 0 0 8px rgba(8, 8, 8, 0.6);
}

.number1Body{
    padding-bottom: 3rem;
}
.number2Body{
    padding-bottom: 3rem;
}
.operatorBody{
    padding-bottom: 3rem; 
}

/* ::::: RESPONSIVE DESIGN DEVICE SIZES ::::: */
@media (max-width: 576px){
    body{
        background-color: #8eb7f4;
        color: #333;
        padding: 0rem;
    }
    h1{
        font-size: 30px;
    }
    h4{
        font-size: 13px;
    }
    .calculation{
        padding: 4rem 8rem 0rem 8rem;
    }
    .calculationContainer{
        padding: 6rem 10rem 6rem 10rem;
    }
    .numbersBody{
        text-align: center;
    }
    button{
        font-size: 8px;
        font-weight: 800px;            
        border: 2px solid #06427f;
        padding: 2px;
        border-radius: 4px;
        cursor: pointer;
        letter-spacing: normal;
    }
    select{            
        border: 2px solid #06427f;
        border-radius: 3px;
        padding: 0.1rem;
        font-size: 9px; 
        margin-bottom: 5px;
    }
    input{
        font-size: 10px;           
        border: 2px solid #06427f;
        border-radius: 3px;
        padding: 0.1rem;
        margin-bottom: 0.2rem;
    }

}